@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --f-h: 'Inter', sans-serif;

    --bg1: rgb(255, 255, 255);
    --bg2: rgb(234, 234, 234);
    --bg3: rgb(213, 213, 213);
    --bg4: rgb(189, 189, 189);
    --bg5: rgb(175, 175, 175);
}

body{
    font-family: var(--f-h);
}

h1{
    text-align: center;

    font-size:50px;
    font-weight: 700;

    
}








.section{
    display: flex;
    flex-direction: column;
    gap:10px;

    justify-content: center;
}