@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --f-h: 'DM Sans', sans-serif;

    --bg1: rgb(255, 255, 255);
    --bg2: rgb(234, 234, 234);
    --bg3: rgb(213, 213, 213);
    --bg4: rgb(189, 189, 189);
    --bg5: rgb(175, 175, 175);

    --bgt1: rgba(255,255,255,0.9);
    --bgt2: rgba(255,255,255,0.7);
    --bgt3: rgba(255,255,255,0.5);
    --bgt4: rgba(255,255,255,0.3);


    --p1: rgb(35, 30, 77);
    --p2: rgb(67, 54, 123);
    --p3: rgb(123, 75, 163);

    --br:7px;

    --tr: 0.2s cubic-bezier(0, 0, 0.03, 1);
    --tr2: 0.2s linear;
    --tr3: 0.3s ease-out;

    --s: 0 0 10px rgba(0,0,0,0.07);
}

body{
    font-family: var(--f-h);

    margin:0;
    margin-left:240px;
}

h1{
    text-align: center;

    font-size:50px;
    font-weight: 700;
}

h1, h2, h3, h4, h5, h, p, li, label{
    margin-block:10px;
}

p{
    font-size: 17px;
}










.section{
    display: flex;
    flex-direction: column;
    gap:10px;

    justify-content: center;
    align-items: center;

    margin-block:90px;
}

.section p{
    text-align: center;
}






button, .button{
    background-color: var(--p1);
    color:var(--bg1);

    padding: 15px 18px;
    margin-block:10px;

    border-radius: var(--br);
    border:none;
    
    font-family: var(--f-h);
    font-size:16px;
    font-weight: 580;

    cursor: pointer;
 
    width: fit-content;
    height: fit-content;

    text-decoration: none;

    box-shadow: 0px 3px 10px rgba(0,0,0,0.03);

    transition: var(--tr);
}

button:hover, .button:hover{
    opacity: 0.8;

    transition: var(--tr);
}

button:active, .button:active{
    scale:0.97;
}

button.normal, .button.normal{
    background-color: var(--bg1);
    color:var(--p1);
}

.btn-group{
    display: flex;
    gap:5px;
}






.material-symbols-rounded{
    vertical-align: middle;
    transform: translateY(-10%);
    font-size: inherit;
}







.navbar{
    display: flex;
    flex-direction: column;

    border-right: 2px solid var(--bg3);

    position:fixed;
    left:0;
    top:0;
    height:100%;
    width: 200px;

    z-index: 2;

    backdrop-filter: blur(10px);
    background-color: var(--bgt3);

    padding: 15px;
}

.navbar > a{
    text-decoration: none;

    font-size:18px;
    font-weight: 550;

    color:var(--p1);

    transition: var(--tr2);

    padding: 10px;
    border-radius: var(--br);
}

.navbar > a:active{
    scale:0.96;
}

.navbar > a:hover{
    background-color: rgba(0,0,0,0.06);
 
    transition: var(--tr2);
}











.floating{
    position:fixed;

    background-color: rgba(0,0,0,0.8);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 10;
    inset:0;
}

.panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--bg1);

    padding: 10px;
    border-radius: var(--br);

    max-width: 100%;
    box-sizing: border-box;

    border:1px solid var(--bg4);

    position: relative;
}

.panel.wide{
    width: min(100%, 400px);
    height: fit-content;
}

#video{
    border-radius: var(--br);
    width: min(100dvw, 600px);
}

.loading{
    width: 40px;
    height:40px;

    border:8px solid var(--p1);
    border-bottom-color: var(--bg1);

    border-radius: 99px;

    animation: load .5s linear infinite;

    margin-block:60px;

    z-index: 3;
}

.close{
    position:absolute;
    top:15px;
    left:15px;

    margin:0;

    z-index: 4;

    box-shadow: var(--s);

    border:1px solid var(--bg4);
}

.panel.c{
    animation: close var(--tr3) forwards;
}

.floating.c{
    animation: close2 var(--tr3) forwards;
}


.panel.o{
    animation: close var(--tr3) reverse forwards;
}

.floating.o{
    animation: close2 var(--tr3) reverse forwards;
}

@keyframes close{
    from{
        scale:1;
        opacity: 1;
    }

    to{
        scale: 0.7;
        opacity: 0;
    }
}

@keyframes close2{
    from{
        opacity: 1;
    }

    to{
        opacity: 0;
    }
}

@keyframes load {
    from{
        transform:rotateZ(0);
    }

    to{
        transform:rotateZ(360deg);
    }
}