@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Questrial&display=swap');

:root{
    --f-h: 'Inter', sans-serif;
    --f-b: 'Inter', sans-serif;

    --bg1: rgb(255, 255, 255);
    --bg2: rgb(234, 234, 234);
    --bg3: rgb(213, 213, 213);
    --bg4: rgb(189, 189, 189);
    --bg5: rgb(175, 175, 175);

    --bgt1: rgba(255,255,255,0.9);
    --bgt2: rgba(255,255,255,0.7);
    --bgt3: rgba(255,255,255,0.5);
    --bgt4: rgba(255,255,255,0.3);


    --p1: rgb(35, 30, 77);
    --p2: rgb(67, 61, 91);
    --p3: rgb(88, 74, 103);
    --p4: rgb(223, 194, 247);

    --pt1: rgba(0, 0, 0, 0.1);

    --br:7px;

    --tr: 0.2s cubic-bezier(0, 0, 0.03, 1);
    --tr2: 0.2s linear;
    --tr3: 0.3s ease-out;

    --s: 0 0 10px rgba(0,0,0,0.2);
}

.dark{
    --bg1: rgb(0, 0, 0);
    --bg2: rgb(32, 32, 32);
    --bg3: rgb(50, 50, 50);
    --bg4: rgb(63, 63, 63);
    --bg5: rgb(68, 68, 68);

    --bgt1: rgba(0,0,0,0.9);
    --bgt2: rgba(0,0,0,0.7);
    --bgt3: rgba(0,0,0,0.5);
    --bgt4: rgba(46, 46, 46, 0.5);

    --p1: rgb(247, 247, 247);
    --p2: rgb(225, 224, 233);
    --p3: rgb(186, 178, 195);
    --p3: rgb(105, 97, 114);

    --pt1: rgba(255, 255, 255, 0.3);
}

body{
    font-family: var(--f-h);

    margin:0;
    margin-top:90px;
    margin-left:240px;

    background-color: var(--bg1);
}

h1{
    text-align: center;

    font-size:35px;
    font-weight: 700;
}

h1, h2, h3, h4, h5, h, p, li, label, ul, ol{
    margin-block:10px;
    color:var(--p1);
}

p, li{
    font-size: 17px;
    opacity: 0.8;

    font-family: var(--f-b);

    color:var(--p1);
}

hr{
    border-width: 1px;
    border-style: solid;
    border-image:
        linear-gradient(
            to right, 
            var(--bg3),
            rgba(0, 0, 0, 0)
        ) 1 1 100%;
    width: 100%;
}

img{
    border-radius: var(--br);

    user-select: none;
    -webkit-user-drag: none;
}









.section{
    display: flex;
    flex-direction: column;
    gap:10px;

    justify-content: center;
    align-items: center;

    margin-block:90px;
}

.section p{
    text-align: center;
}






button, .button{
    background-color: var(--p1);
    color:var(--bg1);

    display: inline-block;

    padding: 15px 18px;
    margin-block:10px;

    border-radius: var(--br);
    border:none;
    
    font-family: var(--f-b);
    font-size:16px;
    font-weight: 580;

    cursor: pointer;
 
    width: fit-content;
    height: fit-content;

    text-decoration: none;

    outline:0 solid transparent;
    
    transition: var(--tr) background-color;
}

button:hover, .button:hover{
    opacity: 0.8;
    
    transition: var(--tr);
}

button:active, .button:active{
    scale:0.97;

    outline:6px solid var(--pt1);

    transition: var(--tr);
}

button.normal, .button.normal{
    background-color: var(--bg1);
    color:var(--p1);
}

button.clear, .button.clear{
    border:none;
    color:var(--p1);
    background-color: transparent;

    font-size:20px;

    box-shadow: none;

    padding:0;
}

.btn-group{
    display: flex;
    gap:5px;

    align-items: center;
}






.material-symbols-rounded{
    vertical-align: middle;
    transform: translateY(-10%);
    font-size: inherit !important;
}







.navbar{
    display: flex;
    flex-direction: column;

    border-right: 2px solid var(--bg3);

    position:fixed;
    left:0;
    top:0;
    height:100%;
    width: 200px;

    z-index: 5;

    backdrop-filter: blur(10px);
    background-color: var(--bgt3);

    padding: 15px;
    padding-top: 70px;

    background-image: url('/src/media/cactus.png');
    background-size:230px 230px;
    background-repeat: no-repeat;
    background-position: bottom left;
}

.navbar > a, .top-bar > a{
    text-decoration: none;

    font-size:18px;
    font-weight: 550;

    color:var(--p1);

    transition: var(--tr2) background-color;

    padding: 10px;
    border-radius: var(--br);
}

.dark .navbar > a, .dark .top-bar > a{
    color:var(--p2);
}

.navbar > a:active{
    background-color: var(--bg3) !important;
}

.navbar > a:hover{
    background-color: rgba(0,0,0,0.06);
 
    transition: var(--tr2) background-color;
}










.floating{
    position:fixed;

    background-color: rgba(0,0,0,0.8);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 10;
    inset:0;
}

.panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--bg1);

    padding: 20px;
    margin-block: 10px;

    max-width: 100%;
    box-sizing: border-box;

    border:1px solid var(--bg4);
    border-radius: 14px;

    position: relative;
}

.glassmorphism{
    background-color: var(--bgt4) !important;

    backdrop-filter: blur(10px);
}

.dark .panel{
    background-color: var(--bg2);
}

.panel.center{
    margin-inline: auto;
}

.panel.wide{
    width: min(100%, 400px);
    height: fit-content;
}

#video{
    border-radius: var(--br);
    width: min(100dvw, 600px);
}

.loading{
    width: 40px;
    height:40px;

    border:8px solid var(--p1);
    border-bottom-color: var(--bg1);

    border-radius: 99px;

    animation: load .5s ease-out infinite;

    margin:10px;

    z-index: 3;
}

.close{
    position:absolute;
    top:15px;
    right:15px;

    margin:0;

    z-index: 4;

    box-shadow: var(--s);

    border:1px solid var(--bg4);
}

.close .material-symbols-rounded{
    transform: none;
}

.c{
    animation: close var(--tr3) forwards;
}

.floating.c{
    animation: close2 var(--tr3) forwards;
}


.o{
    animation: close var(--tr3) reverse forwards;
}

.o.fast{
    animation: open ease-out 0.5s forwards;
}

.o-tr3{
    animation: close var(--tr) reverse forwards;
}

.floating.o{
    animation: close2 var(--tr3) reverse forwards;
}

#riddle{
    background-color: var(--bg2);
    padding: 10px;
    border-radius: var(--br);

    font-size: 23px;
    font-weight: 600;

    margin-block: 0;
}

#canvas{
    width: min(400px, 100%);
    height:300px;

    object-fit: fill;

    border-radius: var(--br);

    box-shadow: var(--s);

    margin-top:20px;
}

#game{
    width: min(400px 100%);
}

@keyframes close{
    from{
        scale:1;
        opacity: 1;
    }

    to{
        scale: 0.7;
        opacity: 0;
    }
}

@keyframes close2{
    from{
        opacity: 1;
    }

    to{
        opacity: 0;
    }
}

@keyframes open{
    from{
        scale:0.8;
        opacity: 0;
    }

    to{
        scale: 1;
        opacity: 1;
    }
}

@keyframes load {
    from{
        transform:rotateZ(0);
    }

    to{
        transform:rotateZ(360deg);
    }
}










input{
    padding: 18px 20px;

    font-size: 17px;
    font-family: var(--f-h);

    background-color: var(--bg2);
    
    border:none;
    border-radius:var(--br);

    outline:0 solid transparent;
    border:2px solid var(--bg1);

    color:var(--p1);

    cursor: pointer;

    transition: var(--tr);
}

.dark input{
    border:2px solid var(--bg4);
}

input:focus{
    background-color: var(--bg1);
    
    border:2px solid var(--bg4);
    outline:5px solid rgba(45, 147, 248, 0.2);

    transition: var(--tr);
}

.btn-input{
    display: flex;
    justify-content: center;

    width: 100%;
    box-sizing: border-box;
    
    position:relative;

    margin: 10px 0;
}

.btn-input > button{
    width: 50px;

    text-align: center;
    
    margin:0;

    position:absolute;

    --inline:18px;

    right:var(--inline);
    top:var(--inline);

    height:calc(100% - var(--inline) * 2);

    padding: 4px;

    font-size:16px;
}

.btn-input > input{
    width: 100%;
}







.holder{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    box-sizing: border-box;

    border:1px solid var(--bg4);
    border-radius: 10px;

    margin-top:30px;

    overflow: hidden;
}

.holder > div{
    padding: 10px;
    margin:0;
}

.holder > div:nth-child(2){
    border-top:1px solid var(--bg4);
}










.coin{
    animation: spin 0.3s ease-out forwards;
}

@keyframes spin{
    0%{
        transform:scaleX(0) scaleZ(0.8);
    }

    33%{
        transform:scaleX(-1);
    }

    66%{
        transform:scaleX(0);
    }

    100%{
        transform:scaleX(1) scaleZ(1);
    }
}









.top-bar{
    position: fixed;
    top:0;
    right:0;
    left:0;
    width: 100dvw;
    height:fit-content;

    background-color: var(--bg1);

    border-bottom: 1px solid var(--bg4);

    display: flex;
    align-items: center;
    justify-content: right;

    padding: 5px 40px;

    gap:20px;

    box-sizing: border-box;

    z-index: 2;
}









.stats{
    display: flex;
    gap:20px;
}

.stats > div{
    display: flex;
    gap:5px;

    align-items: center;
}

.stats > div > p{
    font-size:20px;
}

.stats > div > img{
    height:30px;
}













.leaderboard{
    display: flex;
    flex-direction: column;
    gap:5px;
}

.leaderboard > div{
    background-color: var(--bg2);

    padding: 12px 14px;

    border-radius: var(--br);

    font-size:17px;
    font-weight: bold;

    width: 100%;
    box-sizing: border-box;
    
    color:var(--p2);
}

.leaderboard > div:nth-child(odd){
    background-color: var(--bg3);
}

.leaderboard > div:nth-of-type(1){
    background: linear-gradient(120deg, rgb(215, 162, 49), rgb(240, 187, 101), rgb(170, 124, 17));
    color:rgba(0, 0, 0, 0.638);
}

.leaderboard > div:nth-of-type(2){
    background: linear-gradient(120deg, rgb(203, 203, 203),rgb(144, 152, 159), rgb(210, 215, 225), rgb(112, 124, 131));
    color:rgba(0, 0, 0, 0.638);
}

.leaderboard > div:nth-of-type(3){
    background: linear-gradient(120deg, rgb(211, 108, 52), rgb(226, 168, 113), rgb(170, 91, 17));
    color:rgba(0, 0, 0, 0.638);
}










.bento-grid{
    display: grid;
    
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
    "box-1 box-1 box-2 box-3 box-3 box-4"
    "box-5 box-6 box-6 box-7 box-8 box-9"
    "box-5 box-6 box-6 box-10 box-11 box-11"
    "box-12 box-13 box-13 box-14 box-15 box-16";

    width: calc(100% - 80px);
    box-sizing: border-box;

    margin-inline:40px;

    gap:10px;
}

.bento-grid > div{
    background-color: var(--bg2);
    padding: 20px;

    text-align: center;

    border-radius: var(--br);
}











.toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg4);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--bg2);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--p2);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--p1);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}








.sound-waves{
    width: 80px;
    height: 80px;

    position: relative;

    background-color: var(--bg3);

    border:1px solid var(--bg4);
    border-radius: 99px;

    color:var(--p1);

    font-size: 40px;

    cursor: pointer;

    outline: var(--w) solid var(--pt1);
    
    opacity: 0.8;
}

.sound-waves > i{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);

    pointer-events: none;
}