<h2 style="margin-left:10px;">Wildeye</h2>

<hr>

<a href="/frontend/index.html"><i class="material-symbols-rounded">home</i> Home</a>
<a href="/frontend/app/game.html"><i class="material-symbols-rounded">play_circle</i> Play</a>
<a href="/frontend/app/leaderboard.html"><i class="material-symbols-rounded">crown</i> Leaderboard</a>

<div class="top-bar">
    <button class="clear" onclick="toggleMode()" id="color-toggle"><i class="material-symbols-rounded" id="color-theme">light_mode</i></button>
</div>
